@import './colors.module.scss';

@keyframes AnimationPositionLeft {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes AnimationPositionRight {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes Pulse {
  0% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 $color-emerald;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px;
  }

  100% {
    transform: scale(.95);
    box-shadow: 0 0 0 0;
  }
}