@import './colors.module.scss';

@keyframes AnimationPositionLeft {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes AnimationPositionRight {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes Pulse {
  0% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 $color-primary;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px;
  }

  100% {
    transform: scale(.95);
    box-shadow: 0 0 0 0;
  }
}

@keyframes ButtonPulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 $color-primary;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.enterPageAnimation {
  $total-elements: 100;

  @for $i from 1 through $total-elements {
    $delay: ($i + 1) * 0.2s;

    > :nth-child(#{$i}) {
      opacity: 0;
      animation: SlideIn 400ms ease-in-out;
      animation-fill-mode: both;
      animation-delay: $delay;
    }
  }
}