$color-emerald: #2ecc71;
$color-nephritis: #27ae60;
$color-clouds: #ecf0f1;
$color-midnightBlue: #2c3e50;
$color-wetAsphalt: #34495e;

:export {
  colorEmerald: $color-emerald;
  colorNephritis: $color-nephritis;
  colorClouds: $color-clouds
}