$color-emerald: #2ecc71;
$color-nephritis: #27ae60;
$color-clouds: #ecf0f1;
$color-midnightBlue: #2c3e50;
$color-midnightBlueDark: #293a49;
$color-wetAsphalt: #34495e;
$color-alizarin: #e74c3c;
$color-sunFlower: #f1c40f;

$color-primary: #cd2c7a;

:export {
  color-primary: $color-primary;
  colorEmerald: $color-emerald;
  colorNephritis: $color-nephritis;
  colorClouds: $color-clouds
}