@import '../../styles/colors.module.scss';

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Loader {
  border: 10px solid $color-midnightBlue;
  border-top: 10px solid $color-primary;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}