.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.ContentContainer {
  width: 100%;
  height: calc(100% - 5rem);
  display: flex;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}