@import "@/styles/colors.module.scss";
@import "@/styles/animations.scss";

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: SlideIn 400ms ease-in-out;

  @media only screen and (min-width: 768px) {
    margin-top: 1rem;
  }
}

.Form {
  @extend .enterPageAnimation;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  min-height: 500px;
  gap: 15px;

  .Text {
    font-size: 1rem;
    font-weight: 300;
    color: $color-clouds;
    max-width: 500px;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  @media only screen and (min-width: 768px) {
    min-height: 590px;
  }
}

.FormControl {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 0.2rem;

  label {
    font-weight: 500;
    color: $color-clouds;
  }

  .ErrorText {
    color: $color-alizarin;
  }

  textarea,
  input {
    border: none;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  input {
    border-radius: 8px;
    height: 40px;
    padding: 0 25px;
  }

  textarea {
    height: 90px;
    resize: none;
    border-radius: 10px;
    padding: 20px;

    @media only screen and (min-width: 768px) {
      height: 200px;
    }
  }
}

.ButtonContainer {
  width: 100%;
  height: 40px;
  max-width: 500px;
}