@import '../../styles/colors.module.scss';
@import "../../styles/animations.scss";

.Title {
	text-transform: uppercase;
	text-align: center;
	background: linear-gradient(to right, #1859d3 0%, #0091fc 25%, #00bbd9 50%, #00da84 75%, #a8eb12 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 3rem;
	animation: FadeIn 2.5s ease-in-out;
}

.Container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $color-wetAsphalt;
}