@import '../../styles/colors.module.scss';
@import '../../styles/animations.scss';

.Container {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 90%, 1062px);
  height: 100%;
  gap: 1rem;
  padding: 25px 0;
}

.ExperienceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;

  .Year {
    display: none;

    @media (min-width: 1179px) {
      display: flex;
      align-self: center;
      font-size: large;
      color: $color-emerald;
      font-weight: 600;
      margin: 0 30px;
      animation: FadeIn 0.5s ease-out 0.3s both;
    }
  }

  @media (min-width: 1179px) {
    flex-direction: initial;
    align-items: initial;
    justify-content: initial;
  }
}

.Timeline {
  display: none;
  flex-direction: column;
  animation: FadeIn 0.5s ease-out 0.3s both;

  @media (min-width: 1179px) {
    display: flex;
    width: 10px;
    height: 110%;
    background-color: $color-emerald;
  }
}